
header {
  padding: 1rem .5rem;
}

/* Format navigation */
nav {
  padding: 0 0;
}
nav a {
  margin: 0.5rem 0.5rem 0 0;
  padding: .1rem 0.1rem;
}

main p {
 overflow: auto;
}

.lite-hoyre { 
  max-width: 33%;
  padding: 0 0.5rem 0 0.5rem;
  float: right;
  clear: right;
}
